<div class='container'>
  <div class='row main'>
    <div class='col-lg-4 offset-lg-1 col-md-10 offset-md-1 exchange_box'>
      <div class='row'>
          <div class='col-md-8 offset-md-2 text-sm-center'>
            <%= image_tag '/logo.png', class: 'img-fluid'%>
          </div>
      </div>
 
      <div class='row'>
        <%= render 'exchange_box' %>
      </div>
    </div>
 
    <div class='col-lg-6 offset-lg-1 hidden-sm-down title-box'>
      <div class='row' style="height: 100px"></div>

      <div class='row'>
        <h1 class='title'>Exchange</h1>
      </div>
      <div class='row'>
        <h1 class='title'>Money</h1>
      </div>
      <div class='row'>
        <h1 class='title'>Easily</h1>
      </div>
                
      <div class='row'>
        <h3 class='subtitle'>To any worldwide currency!</h3>
      </div>
    </div>
  </div>
</div>